$blueGradient: linear-gradient(to top, #131936 0%, #506480 100%);
$baseRed: #e2092c;
$baseGreen: #058d2d;
$baseBlue: #3c4762;
$baseGrey: #b6b5b5;
$baseWhite: #fff;

$baseLighBlue: #7582a3;
$baseLightGrey: #e3e3e3;

$fbBlue: #009ee3;
$headerHeight: 80px;
